# Shells
brew "bash"

# Key mapper
cask "karabiner-elements"

# Fonts
cask "font-fira-code-nerd-font"

# CLIs
brew "usage"                                 # UI toolkit
brew "gum"                                   # Specification for parsing arguments
brew "mise"                                  # Tool version manager
brew "git"                                   # VCS
brew "git-absorb"                            # Git plugin
brew "git-flow-next"                         # Git plugin
brew "just"                                  # Command runner
brew "chezmoi"                               # Dotfile manager
brew "zoxide"                                # Change directory
brew "eza"                                   # List files
brew "bat"                                   # View files
brew "bat-extras"                            # Bat utilities
brew "fd"                                    # Find files
brew "ripgrep"                               # Search files
brew "ripgrep-all"                           # Ripgrep utilities
brew "git-delta"                             # Compare files
brew "sd"                                    # Search and replace files
brew "choose"                                # Extract text from files
brew "rust-parallel"                         # Parse arguments and execute commands
brew "pueue", restart_service: :changed      # Background task executor
brew "watchexec"                             # File watcher
brew "scc"                                   # Code counter
brew "hyperfine"                             # Benchmarking
brew "procs"                                 # View running processes
brew "ouch"                                  # Compress and decompress files
brew "age"                                   # Encryption
brew "sops"                                  # Configuration file encryption
brew "gojq"                                  # JSON toolkit
brew "taplo"                                 # TOML toolkit
brew "yq"                                    # JSON, TOML, YAML, XML and CSV toolkit
brew "precious"                              # Linter and formatter
brew "lefthook"                              # Git hook manager
brew "tree-sitter-cli"                       # Treesitter parser generator
brew "xh"                                    # HTTP client
brew "less"                                  # Pager
brew "make"                                  # Build system
brew "gnupg"                                 # Encryption and signing
brew "task"                                  # To do manager
brew "timewarrior"                           # Time tracker
brew "beanquery"                             # Beancount query tool
brew "mermaid-cli"                           # Diagram as code
brew "marp-cli"                              # Presentation as code
brew "gh"                                    # GitHub client
brew "podman"                                # Containerization
brew "podman-compose"                        # Podman plugin
brew "colima", restart_service: :changed     # Containerization
brew "docker"                                # Containerization
brew "docker-compose"                        # Docker plugin
brew "docker-buildx"                         # Docker plugin
brew "kubernetes-cli"                        # Container orchestration
brew "helm"                                  # Kubernetes package manager
brew "stern"                                 # Kubernetes log explorer
brew "kubectx"                               # Kubernetes context and namespace manager
brew "postgresql", restart_service: :changed # SQL database
brew "redis", restart_service: :changed      # Key value database
brew "ollama"                                # Local LLM manager
brew "aider"                                 # AI agent

# TUIs
brew "fzf"             # Fuzzy finder
brew "yazi"            # File system explorer
brew "neovim"          # Text editor
brew "lazygit"         # Git client
brew "zellij"          # Terminal multiplexer
brew "bottom"          # System monitor
brew "taskwarrior-tui" # Taskwarrior client
brew "podman-tui"      # Podman client
brew "lazydocker"      # Docker client
brew "k9s"             # Kubernetes client
brew "opencode"        # AI agent

# GUIs
brew "pinentry-mac"  # Passphrase dialog
cask "brave-browser" # Browser
cask "browseros"     # Browser
cask "ghostty"       # Terminal
cask "wave"          # Terminal
cask "emacs-app"     # Text editor
cask "zed"           # Text editor
cask "void"          # Text editor
cask "utm"           # Virtualisation and emulation
cask "bitwarden"     # Password manager
# Proprietary
cask "raycast"            # Application launcher
cask "visual-studio-code" # Text editor
cask "okta-verify"        # Authenticator
cask "notion"             # Note taker
cask "slack"              # Instant messenger
cask "zoom"               # Video caller
cask "figma"              # Designer

# WUIs
brew "fava" # Beancount client

# Shell utilities
brew "starship" # Prompt
brew "atuin"    # History
brew "carapace" # Autocompletion
# Autocorrection # TODO: Add to official registry
tap "timescam/tap"
brew "timescam/tap/pay-respects"

{{ if eq .profile "default" -}}
# Default profile

# GUIs
cask "proton-pass"  # Password manager
cask "proton-drive" # Cloud storage
cask "protonvpn"    # VPN client
# Proprietary
cask "dropbox"      # Cloud storage
cask "onedrive"     # Cloud storage
cask "google-drive" # Cloud storage
{{- else if eq .profile "cyberhaven" -}}
# Cyberhaven profile

# CLIs
brew "qemu"                        # Virtualisation and emulation
brew "lima"                        # Virtualisation
brew "lima-additional-guestagents" # Virtualisation
brew "sqlcmd"                      # MS SQL client
brew "awscli"                      # AWS client
brew "azure-cli"                   # Azure client
# Proprietary
cask "gcloud-cli"                  # Google Cloud client

# GUIs
cask "logseq"             # Note taker
cask "bruno"              # API client
cask "dbeaver-community"  # DB client
# Proprietary
cask "google-chrome"      # Browser
cask "warp"               # Terminal
cask "obsidian"           # Note taker
cask "postman"            # API client
cask "chatgpt"            # GenAI
{{- end }}
