# TODO: Add to official registry
tap "my/local", "#{ENV["HOME"]}/.config/brew"

# Shells
brew "nushell"
brew "zsh"
brew "bash"

# Key mapper
cask "karabiner-elements"

# Fonts
cask "font-fira-code-nerd-font"
