# TODO: Add to official registry
tap "my/local", "#{ENV["HOME"]}/.config/brew"

# Shells
brew "nushell"
brew "zsh"
brew "bash"

# Key mapper
brew "kanata"
cask "my/local/karabiner-driverkit-virtualhiddevice"
