# TODO: Add to official registry
tap "my/local", "#{ENV["HOME"]}/.config/brew"

# Shells
brew "nushell"
brew "zsh"
brew "bash"

# Key mapper
brew "kanata"
cask "my/local/karabiner-driverkit-virtualhiddevice"

# Fonts
cask "font-fira-code-nerd-font"

# CLIs
brew "usage"                                 # UI toolkit
brew "gum"                                   # Specification for parsing arguments
brew "mise"                                  # Tool version manager
brew "jj"                                    # VCS
brew "gitoxide"                              # VCS
brew "git"                                   # VCS
brew "git-absorb"                            # Git plugin
brew "git-flow-next"                         # Git plugin
brew "just"                                  # Command runner
brew "chezmoi"                               # Dotfile manager
brew "zoxide"                                # Change directory
brew "eza"                                   # List files
brew "bat"                                   # View files
brew "bat-extras"                            # Bat utilities
brew "fd"                                    # Find files
brew "ripgrep"                               # Search files
brew "ripgrep-all"                           # Ripgrep utilities
brew "git-delta"                             # Compare files
brew "difftastic"                            # Compare files
brew "sd"                                    # Search and replace files
brew "choose"                                # Extract text from files
brew "rust-parallel"                         # Parse arguments and execute commands
brew "pueue", restart_service: :changed      # Background task executor
brew "watchexec"                             # File watcher
brew "scc"                                   # Code counter
brew "hyperfine"                             # Benchmarking
brew "procs"                                 # View running processes
brew "ouch"                                  # Compress and decompress files
brew "age"                                   # Encryption
brew "sops"                                  # Configuration file encryption
brew "gojq"                                  # JSON toolkit
brew "taplo"                                 # TOML toolkit
brew "yq"                                    # JSON, TOML, YAML, XML and CSV toolkit
brew "precious"                              # Linter and formatter
brew "lefthook"                              # Git hook manager
brew "tree-sitter-cli"                       # Treesitter parser generator
brew "xh"                                    # HTTP client
brew "less"                                  # Pager
brew "make"                                  # Build system
brew "gnupg"                                 # Encryption and signing
brew "zk"                                    # Note taker
brew "dstask"                                # To do manager
brew "task"                                  # To do manager
brew "timewarrior"                           # Time tracker
brew "rustledger"                            # Accounting
brew "beanquery"                             # Beancount query tool
brew "d2"                                    # Diagram as code
brew "mermaid-cli"                           # Diagram as code
brew "presenterm"                            # Presentation as code
brew "marp-cli"                              # Presentation as code
brew "gh"                                    # GitHub client
brew "jira-cli"                              # Jira client
brew "googleworkspace-cli"                   # Google workspace client
brew "playwright-cli"                        # Browser automation
brew "podman"                                # Containerization
brew "podman-compose"                        # Podman plugin
brew "colima", restart_service: :changed     # Containerization
brew "docker"                                # Containerization
brew "docker-compose"                        # Docker plugin
brew "docker-buildx"                         # Docker plugin
brew "kubernetes-cli"                        # Container orchestration
brew "helm"                                  # Kubernetes package manager
brew "stern"                                 # Kubernetes log explorer
brew "kubectx"                               # Kubernetes context and namespace manager
brew "postgresql", restart_service: :changed # SQL database
brew "redis", restart_service: :changed      # Key value database

# TUIs
brew "jjui"            # Jujutsu client
brew "fzf"             # Fuzzy finder
brew "television"      # Fuzzy finder
brew "yazi"            # File system explorer
brew "neovim"          # Text editor
brew "gitui"           # Git client
brew "lazygit"         # Git client
brew "zellij"          # Terminal multiplexer
brew "bottom"          # System monitor
brew "taskwarrior-tui" # Taskwarrior client
brew "jiratui"         # Jira client
brew "podman-tui"      # Podman client
brew "lazydocker"      # Docker client
brew "k9s"             # Kubernetes client

# GUIs
brew "pinentry-mac"              # Passphrase dialog
cask "chromium"                  # Browser
cask "brave-browser"             # Browser
cask "firefox"                   # Browser
cask "firefox@developer-edition" # Browser
cask "browseros"                 # Browser
cask "zen"                       # Browser
cask "helium-browser"            # Browser
cask "ghostty"                   # Terminal
cask "wezterm"                   # Terminal
cask "alacritty"                 # Terminal
cask "wave"                      # Terminal
cask "cmux"                      # Terminal
cask "iterm2"                    # Terminal
cask "emacs-app"                 # Text editor
cask "vscodium"                  # Text editor
cask "zed"                       # Text editor
cask "void"                      # Text editor
cask "logseq"                    # Note taker
cask "affine"                    # Note taker
cask "anytype"                   # Note taker
cask "appflowy"                  # Note taker
cask "element"                   # Instant messenger
cask "signal"                    # Instant messenger
cask "telegram"                  # Instant messenger
cask "bitwarden"                 # Password manager
cask "bruno"                     # API client
cask "insomnia"                  # API client
cask "dbeaver-community"         # DB client
cask "utm"                       # Virtualisation and emulation
# Proprietary
cask "raycast"            # Application launcher
cask "google-chrome"      # Browser
cask "warp"               # Terminal
cask "visual-studio-code" # Text editor
cask "antigravity"        # Text editor
cask "cursor"             # Text editor
cask "windsurf"           # Text editor
cask "obsidian"           # Note taker
cask "notion"             # Note taker
cask "postman"            # API client
cask "okta-verify"        # Authenticator
cask "discord"            # Instant messenger
cask "slack"              # Instant messenger
cask "whatsapp"           # Instant messenger
cask "zoom"               # Video caller
cask "figma"              # Designer

# WUIs
brew "fava" # Beancount client

# Shell utilities
brew "sheldon"  # Bash and Zsh plugin manager
brew "zinit"    # Zsh plugin manager
brew "starship" # Prompt
brew "atuin"    # History
brew "carapace" # Autocompletion
# Line editor # TODO: Add to official registry
brew "my/local/blesh"
# Autocorrection # TODO: Add to official registry
tap "timescam/tap"
brew "timescam/tap/pay-respects"

# AI utilities
brew "rtk"                               # LLM token reducer
brew "ollama", restart_service: :changed # Local LLM manager
brew "aichat"                            # AI agent
brew "aider"                             # AI agent
brew "my/local/pi"                       # AI agent
brew "my/local/forgecode"                # AI agent
brew "opencode"                          # AI agent
brew "gemini-cli"                        # AI agent
cask "copilot-cli"                       # AI agent
cask "codex"                             # AI agent
# AI agent # TODO: Add to official registry
cask "my/local/openwork-desktop"
cask "anythingllm"      # AI agent
cask "opencode-desktop" # AI agent
cask "t3-code"          # AI agent
# Proprietary
cask "claude-code" # AI agent
cask "cursor-cli"  # AI agent
cask "claude"      # AI agent

{{ if eq .profile "default" -}}
# Default profile

# GUIs
cask "proton-pass"  # Password manager
cask "proton-drive" # Cloud storage
cask "protonvpn"    # VPN client
# Proprietary
cask "dropbox"      # Cloud storage
cask "onedrive"     # Cloud storage
cask "google-drive" # Cloud storage
{{- else if eq .profile "cyberhaven" -}}
# Cyberhaven profile

# CLIs
brew "qemu"                        # Virtualisation and emulation
brew "lima"                        # Virtualisation
brew "lima-additional-guestagents" # Virtualisation
brew "sqlcmd"                      # MS SQL client
brew "awscli"                      # AWS client
brew "azure-cli"                   # Azure client
# Proprietary
cask "gcloud-cli"                  # Google Cloud client
{{- end }}
